<?php

declare(strict_types=1);

return [
    '/path/to/source/file1' => [
        '/path/to/target/file1',
        '/path/to/target/file2',
    ],
    '/path/to/source/file2' => [
        '/path/to/target/file1',
    ],
];